/*.corpo {
    display: flex;
    align-items: center;
    }*/

.category-box {
    color: #ff4500;
    font-size: 18px;
    margin-left: 24px;
    margin-block-start: 24px ;
    text-decoration: blue underline 3px; 
}


.products-box {
    font-size: 12px;
    align-items: center;
    display: inline-block;
    width: 300px;
    height: 150px;
    border: 3px solid blue;
    padding: 50px;
    margin: 23px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.background {
    background-color: blue;
    width: 100%;
    padding: 13px;
}