*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
.rodape{
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
}
.rsocial-icon{
	display: flex;
	flex-direction: column;
}
.rsocial-icon a{
	margin-bottom: 10px;
	align-items: center;
	color: #FF7F24;
}
.rsocial-icon a img{
	margin-bottom: -5px;
	margin-right: 3px;
}

.rsocial{
	margin-bottom: 10px;
	color: 	#FF4500;
}
.rodape ol{
	list-style-type: none;
	
}
.rodape li{
	margin-bottom: 10px;
	font-weight: 500;
	color: 	#FF4500;
	
}





.logo img{
	width: 150px;
}