:root {
    --primary-color: #ff4500;
    --acent-color: #864636;
    --white-color: #f1f1f1;
    --blue-color:#365dae;
    --gray-color: #939597;
    --secondary-color: #ff8c00;
    --primary-light: #ea834b;
  }
  
  * {
    margin: 0px;
    padding: 0px;
    border: none;
    list-style: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  html {
    font-size: 62.5%;
    /* 62.5 = 10px = 1rem  */
  }
  
  body {
    min-height: 100vh;
  }
  
  .bd-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-header {
    margin: 0.8vw;
    height: 105px;
  }
  
  .logo img {
    max-height: 80px;
    max-width: 200px;
  }

.home-image-mobile img {
    width: 100%;
  }

  .menu {
    margin-top: 0.4rem;
    text-align: center;
    margin-bottom: 0.82em;
  }
  
  .menu ol {
    display: flex;
    align-content: center;
  }
  
  .menu li {
    padding: 0;
    list-style-type: none;
    display: inline;
    text-align: center;
  }
  
  .top-header {
    margin: 2vh 5vw;
    font-size: clamp(2rem, 2.5vw, 3rem);
  }
  
  .top-icons {
    margin: 3vh 2vw;
    width: 30vw;
    display: flex;
    justify-content: space-between;
    color: var(--gray-color);
  }
  
  .top-icons a {
    color: var(--gray-color);
  }
  
  .top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 0.8em;
  }
  
  .topnav {
    display: none;
  }
  
  #nav__checkbox {
    display: none;
  }
  
  .close {
    text-align: center;
    display: none;
  }
  
  #nav__checkbox:checked~#navbar-list li {
    display: block;
  }
  
  #nav__checkbox:checked~label.nav__toggle .close {
    display: block;
  }
  
  #nav__checkbox:checked~label.nav__toggle .menu {
    display: none;
  }
  
  #nav__checkbox:checked~div.top-menu .logo {
    display: none;
  }
  
  #navbar-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
  }
  
  #navbar-list li {
    list-style: none;
    display: none;
  }
  
  #navbar-list a {
    text-decoration: none;
    color: inherit;
  }
  
  .searchbar input[type="text"] {
    padding: 8.5px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    font-size: clamp(1.8rem, 2.5vw, 2.9rem);
    background: var(--white-color);
  }
/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: var(--acent-color);
  color: var(--white-color);
  font-size: clamp(1.8rem, 2.5vw, 3.2rem);
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
}

  .ctn-home-banner-web {
    display: none;
  }



  /*BODY*/
  h2{
    color: var(--blue-color);
    font-size: clamp(2rem, 2.5vw, 2.8rem);
  }
  /* FOOTER  */

  
  .rodape {
    font-size: clamp(2rem, 2.5vw, 2.8rem);
    margin-top: 0.60rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  
  }
  
  .rsocial-icon {
    margin-top: 0.60rem;
  }
  
  .rsocial-icon a {
    margin-bottom: 2rem;
    align-items: center;
    color: #ff4500;
  }
  
  .rsocial-icon a img {
    margin-right: 3px;
  }
  
  .usuario,
  .rsocial {
    margin-bottom: 0.5rem;
    color: var(--primary-color);
  }
  
  .usuario h2,
  .rsocial h2 {
    margin-bottom: 1rem;
  
  }
  
  .rodape ol {
    list-style-type: none;
  }
  
  .rodape li {
    margin-bottom: 0.8rem;
    font-weight: 500;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rodape a:link {
    text-decoration: none;
  
  }
  
  .bottom-logo>img {
    
    width: 250px;
      }

      @media (min-width: 768px) {
        .nav {
          display: block;
        }

      
        .menu li img {
          margin-bottom: -5px;
        }
      
        .rodape-principal {
          margin-top: 0.60rem;
          display: block;
      
        }
      
        .rodape {
          display: flex;
          flex-direction: row;
          align-items: center;
          flex-wrap: wrap;
          justify-content: space-around;
      
        }
      }