:root {
  --primary-color: #ff4500;
  --acent-color: #864636;
  --white-color: #f1f1f1;
  --gray-color: #939597;
  --secondary-color: #ff8c00;
  --primary-light: #ea834b;
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  /* 62.5 = 10px = 1rem  */
}

body {
  min-height: 100vh;
}

.bd-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header {
  margin: 0.8vw;
  height: 105px;
}

.logo img {
  max-height: 41px;
  max-width: 120px;
}

.home-image img {
  width: 100%;
}

.searchbar input[type="text"] {
  padding: 10px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  font-size: 17px;
  background: var(--white-color);
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: var(--acent-color);
  color: var(--white-color);
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: var(--acent-color);
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* HEADER */

.menu {
  margin-top: 0.4rem;
  text-align: center;
  margin-bottom: 0.82em;
}

.menu ol {
  display: flex;
  align-content: center;
}

.menu li {
  margin-left: 20px;
  list-style-type: none;
  text-align: center;
}

.top-header {
  margin: 2vh 5vw;
  font-size: 1.7rem;
}

.top-icons {
  margin: 3vh 2vw;
  width: 30vw;
  display: flex;
  justify-content: space-between;
  color: var(--gray-color);
}

.top-icons a {
  color: var(--gray-color);
}

.top-menu {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

#nav__checkbox {
  display: none;
}

.close {
  text-align: center;
  display: none;
}

#nav__checkbox:checked~#navbar-list li {
  display: block;
}

#nav__checkbox:checked~label.nav__toggle .close {
  display: block;
}

#nav__checkbox:checked~label.nav__toggle .menu {
  display: none;
}

#nav__checkbox:checked~div.top-menu .logo {
  display: none;
}

#navbar-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

#navbar-list li {
  list-style: none;
  display: none;
}

#navbar-list a {
  text-decoration: none;
  color: inherit;
}

/* OFERTA */
.oferta {
  font-size: 1.7rem;
}

.oferta h2 {
  color: #365dae;
  font-family: "roboto_condensedbold";
  padding: 16px 22px;
  text-transform: uppercase;
  margin-top: 0px;
  text-align: center;
}

.produto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 2px solid var(--gray-color);
  margin: 1rem;
}

.ctn-produto {
  padding: 10px 16px;
  border-top: 1px solid var(--gray-color);
}

.pnome {
  font-size: 2rem;
  display: block;
  margin-bottom: 0.8rem;
}

/* PAINEL-USUARIO */

.painel-usuario{
  display: flex;
}

.corpo-painel-usuario {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.titulo-pedidos-favoritos{
  text-align: center;
  padding: 30px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-variant: small-caps;
  font-weight: bold;
}

.quadro-pedidos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: rgb(255, 255, 255);
  margin-top: 16px;
  padding: 20px;
  border-radius: 20px;
  margin-left: 50px;
  width: 300px;
}
.todos-quadro-pedidos{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.seta-pedidos{
  display: flex;
 justify-content: flex-end;
 cursor: pointer;
}
.seta-pedidos img{
  margin-top: 10px;
  width: 40px;
}
.detalhes-pedido-titulo{
  font-size: 13px;
  font-weight: bold;
}
.detalhes-pedido{
  font-size: 11px;
  font-weight: bold;
  color: #363636;
}

.quadro-pedidos-favoritos-descricao {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  margin-top: 10px;
  padding: 32px;
  border-radius: 12px;
  margin-left: 45px;  
}
.section-favoritos{
  display: flex;
  justify-content: left;
  padding: 5px;
  flex-wrap: wrap;
}

.quadro-pedidos-favoritos {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: 10px;
  flex-direction: column;
}


.titulo-favoritos-usuario {
  display: flex;
  -webkit-box-align: center;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 14px;
  color: rgb(66, 70, 77);
}

.pedidos-favoritos-usuario-descritivo {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: normal;
  color: rgb(66, 70, 77);
  
}


/* FOOTER  */
.rodape-principal {
  font-size: 1.7rem;
  /*display: flex;
  flex-wrap: wrap;
  justify-content: center;*/

}

.rodape {
  margin-top: 0.60rem;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.rsocial-icon {
  margin-top: 0.60rem;
}

.rsocial-icon a {
  margin-bottom: 2rem;
  align-items: center;
  color: #ff4500;
}

.rsocial-icon a img {
  margin-right: 3px;
}

.usuario,
.rsocial {
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.rodape ol {
  list-style-type: none;
}

.rodape li {
  margin-bottom: 0.8rem;
  font-weight: 500;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rodape a:link {
  text-decoration: none;

}

.logo img {
  width: 150px;
}

/* User Panels*/
.compras {
  margin-top: 2rem;
  color: #ff4500;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.compras-meio,
.compras-meio h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-details p,
.user-details h2 {
  font-size: 2rem;
}

.profile-btn {
  width: 20rem;
  padding: 1rem 2rem 1rem 2rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  background: #ff4500;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  border: 2px solid #ff4500;
}

/*.client-avatar{
  display: flex;
  justify-content: center;
 }*/

.corpo {
  display: flex;
  justify-content: left;
  margin: 10px;
  margin-bottom: 20px;
  background-color: #FFD39B;
}

/*
.lado-esquerdo {
  display: flex;
  align-items: center;
  margin-top: -200px;
  margin-left: 20px;
}*/
.definicao-predidos{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Pagina Produto*/

.bloco-produto {
  display: flex;
  margin-top: 30px;
}


.bloco-produto img{
  width: 500px;
  margin-left: 20px;
}
.descrição-produto{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.descricao-detalhado{
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
}
.calculo-frete #numero-cep, #procurar-cep{
  border: 1px solid #FF4500;
  margin-left: 20px;
  padding: 10px;
  border-radius: 10px;
  
}
#procurar-cep{
  background-color: #FF4500;
  color:white;
  font-weight: bold;
}

.box-produto,
.bloco-produto,
.marca-produto,
.responsive,
.titulo-produto,
.comprar,
.caixa-imagem-produto {
  width: 100%;
  height: auto;
  font-size: 2.2vh;
}

.comprar {
  display: flex;
  justify-content: space-between;
}

span.preco {
  font-size: 3.2em;
  color: #FF4500;
  font-weight: bold;
}

.button-laranja {
  background: #FF4500;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  border-radius: 4px;
  padding: 10px;

}

.ctn-checkout input,
.ctn-checkout button {
  height: 42px;
}

.separador-compra {
  margin-top: 2vh;
  border: 1px solid #FF4500;
}

.descricao-produto {
  margin-top: 2vh;
}




/*  MEDIA QUERIES */
@media (min-width: 736px) {
  .nav {
    display: block;
  }

  /* hi-res laptops and desktops */
  .rodape {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

  }
  .quadro-pedidos-favoritos {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 10px;
    flex-direction: column;
  }
  

}

@media (min-width: 1200px) {
  .nav {
    display: block;
  }

  /* hi-res laptops and desktops */
  .img {
    font-size: 40px;
    font-weight: 600;
    color: blue;
  }

  .menu li img {
    margin-bottom: -5px;
  }

  /*.pesquisa{
	
}*/
  .pesquisa input {
    margin-top: 20px;
    width: 500px;
    height: 30px;
    margin-left: 300px;
  }

  .pesquisa img {
    margin-left: -35px;
    margin-bottom: -6px;
  }

  .pesquisa ol {
    background-color: #ea834b;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-weight: 600;
    padding: 10px;
  }

  .rodape-principal {
    margin-top: 0.60rem;
    display: block;

  }

  .rodape {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

  }

}