
h1.nome-produto {
    font-size: 4em;
  }
  
  .descricao-detalhado {
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
  }
  
  .calculo-frete #numero-cep,
  #procurar-cep {
    border: 1px solid #FF4500;
    margin-bottom: 0.5em;
    padding: 10px;
    border-radius: 10px;
  
  }
  
  #procurar-cep {
    background-color: #FF4500;
    color: white;
    font-weight: bold;
  }
  
  .box-produto,
  .bloco-produto,
  .marca-produto,
  .responsive,
  .titulo-produto,
  .comprar,
  .caixa-imagem-produto {
    width: 100%;
    height: auto;
    font-size: 2.2vh;
  }
  
  .comprar {
    display: flex;
    justify-content: space-between;
  }
  
  span.preco {
    font-size: 3.2em;
    color: #FF4500;
    font-weight: bold;
  }
  
  .button-laranja {
    background: #FF4500;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px;
  
  }
  
  .descrição-produto hr {
    margin-bottom: 2vh;
    border-bottom: 2px solid var(--gray-color);
    margin: 1rem;
  }
  
  .separador-compra {
    margin-top: 2vh;
    border: 1px solid #FF4500;
  }
  
  .descricao-produto {
    margin-top: 2vh;
  }
  