<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("./partials/head")%>
  <body>
    <!--header-->
    <%- include("./partials/header") %>
    <!--header-end-->
    <div class="compras">
      
    </div>
    
    <!--Footer-->
    <%- include("./partials/footer") %>
    <!--footer-fim-->
  </body>
</html>
