<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("./partials/head")%>
  <link rel="stylesheet" href="/css/main.css" />
  <body>
    <!--header-->
    <%- include("./partials/header") %>
    <!--header-end-->
    <div class="compras">
             
        <div class="compras-meio">
                <h2>
                 Seu Carrinho está Vazio
                </h2>
                <img src="https://m.media-amazon.com/images/G/01/cart/empty/kettle-desaturated._CB445243794_.svg">
        </div>
    </div>
    
    <!--Footer-->
    <%- include("./partials/footer") %>
    <!--footer-fim-->
  </body>
</html>
