<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("./partials/head")%>
  <body>
    <!--header-->
    <%- include("./partials/header") %>
    <!--header-end-->
    <div class="compras">
        <div class="compras-lado-esquerdo">
            <%- include(".partials/painel-user") %>
        </div>
        <div class="compras-meio"></div>
        <div class="compras-lado-dirieto"></div>
    </div>
    
    <!--Footer-->
    <%- include("./partials/footer") %>
    <!--footer-fim-->
  </body>
</html>
