<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("./partials/head")%>

  <body>
    <!--header-->
    <%- include("./partials/header") %>
    <!--header-fim-->
    <!--Footer-->
    <%- include("./partials/footer") %>
    <!--footer-fim-->
  </body>
</html>
