<!DOCTYPE html>
<html lang="pt-BR">

<%- include("./partials/head")%>
<link rel="stylesheet" href="/css/global.css" />
<link rel="stylesheet" href="/css/department.css" />


<body>
  <!--header-->
  <%- include("./partials/header") %>
  <!--header-fim-->


  <div class="ctn-category">
    <%- include("./partials/category") %>
  </div>

  <!--Footer-->
  <div class="footerBox">
    <%- include("./partials/footer") %>
  </div>
  <!--footer-fim-->

</body>

</html>