<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("./partials/head")%>
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/checkout.css" />
  <body>
    <!--header-->
    <%- include("./partials/header") %>
    <!--header-end-->
    <div class="cart-box">
             
      <div class="cart-box-body">
              <h2>
               Seu Carrinho está Vazio
              </h2>
              <img src="\images\kettle-desaturated._CB445243794_.svg">
      </div>
  </div>
    
    <!--Footer-->
    <div class="footerBox">
    <%- include("./partials/footer") %>
    </div>
    <!--footer-fim-->
  </body>
</html>
