<meta name="viewport" content="width=device-width, initial-scale=1">
<!DOCTYPE html>
<html lang="pt-BR">
<%- include("./partials/head")%>
<link rel="stylesheet" href="/css/global.css" />
<link rel="stylesheet" href="/css/home.css" />

<body>
  <!--header-->
  <%- include("./partials/header") %>
  <!--header-end-->
  <!--bannerMobile-->
  <div class="home-image-mobile">
    <img src="images\app_banner.png" alt="" />
  </div>
  <!--bannerMobileEnd-->
  <!--bannerWeb-->
  <div class="ctn-home-banner-web">
    <img src="images\banner_img_new.jpg" alt="" />
  </div>
  <!--bannerWebEnd-->
  <!--offer-->

  <div class="ctn-offer">
    <%- include("./partials/offers") %>
  </div>
  <!--offerEnd-->
  <!--footer-->
  <div class="footerBox">
        <%- include("./partials/footer") %>
  </div>
  <!--footerEnd-->
</body>

</html>