<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("./partials/head")%>
  <link rel="stylesheet" href="/css/main.css" />
  <body>
    <!--header-->
    <%- include("./partials/header") %>
    <!--header-end-->
    <div class="home-image-mobile">
      <img src="images\app_banner.png" alt="" />
    </div>

    <div class="ctn-home-banner">
      <img src="images\banner_img.jpg" alt="" />
    </div>
    <div class="cnt-departamentos-home">
    </div>
    <div class="ctn-oferta-mobile">
    <!--oferta-->
    <%- include("./partials/oferta") %>
    <!--FIM-oferta-->
    </div>
    <div class="ctn-oferta-web"></div>
    
    <!--Footer-->
    <%- include("./partials/footer") %>
    <!--footer-fim-->
    
  </body>
</html>
