<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("./partials/head")%>
  <body>
    <!--header-->
    <%- include("./partials/header") %>
    <!--header-end-->
    <div class="home-image">
      <img src="images\app_banner.png" alt="" />
    </div>
    <!--oferta-->
    <%- include("./partials/oferta") %>
    <!--FIM-oferta-->
    
    <!--Footer-->
    <%- include("./partials/footer") %>
    <!--footer-fim-->
  </body>
</html>
