<!DOCTYPE html>
<html lang="pt-BR">
  <%include('/partials/head')%>

  <body>
    <%include('/partials/header')%>
    <!-- 
       <section>
        <label>
            <input type="user" placeholder=" ">
            <p>Usuario</p>
        </label>

        <label>
            <input type="password" placeholder=" ">
            <p>Senha</p>
        </label>
        <label>
            <a><button type = "submit">ENTRAR</button></a>
        </label>
        <div class = "esq-senha">
            <p>Esqueceu a senha? <a><strong>clique aqui</strong></a></p>
        </div>
    </section>
     -->
    <%include('/partials/footer')%>
  </body>
</html>
