<!DOCTYPE html>
<html lang="en">
  <head>
<!DOCTYPE html>
<html lang="pt-BR">
  <%- include('./partials/head')%>

  <%- include('./partials/header')%>
  <body id="login-page">
    <section class="login-page-box">
      <label class="login-input-label">
        <input class="login-input" name="user" type="user" placeholder=" " />
        <p class="label-content">Usuario</p>
      </label>

      <label class="login-input-label">
        <input
          class="login-input"
          name="password"
          type="password"
          placeholder=" "
        />
        <p class="label-content">Senha</p>
      </label>
      <label>
        <button class="login-submit-btn" type="submit">Entrar</button>
      </label>
      <div class="forget-password">
        <p>
          Esqueceu a senha? <a><strong>clique aqui</strong></a>
        </p>
      </div>
    </section>
    <%- include('./partials/footer')%>
  </body>
</html>
