<!DOCTYPE html>
<html lang="pt-BR">

<%- include("./partials/head")%>

<body>
  <!--header-->
  <%- include("./partials/header") %>
  <!--header-fim-->
  <main class="corpo">
    <!-- panel-user -->
    <%- include("./partials/panel-user") %>
    <!--panel-user-end-->

    <%#<div class="my-account">
      <div class="account-details">
        <h3>Minha conta</h3>
        <p>Administre seus dados, endereço e pedidos</p>
      </div>
      <div class="caixa-detalhes">
        <div class="pedidos">
          <div>
            <table>
            <thead>
              <tr>  
              <th>Nº do pedido: </th>
              <th> Realiza:  </th>
              <th> Status:  </th>
              </tr>
            </thead>%>

            <div class="quadro">
              <div class="Quadrado-Magico">
                <div width="180px" class="numero-pedido">
                <div class="titulo-pedido">NÚMERO DO PEDIDO</div>
                <div class="pedido">
                #
                22613775
                </div>
                </div>
                <div width="140px" class="status">
                  <div class="status-pedido">STATUS</div>
                  <div class="cancelado">Cancelado</div>
                   </div>
                   <div width="140px" class="prazo">
                    <div class="data">DATA</div>
                    <div class="data-numero">24/03/2021</div>
                     </div>
                     <div width="180px" class="tipo-pagamento">
                      <div class="pagamento">PAGAMENTO</div>
                      <div class="tipo">Cartão de Crédito</div>
                        </div>
                       </div>
                      </div>

                      
            <tbody>
              <tr>  </tr>
            </tbody>
          </table>
          </div>
        </div>
        <div class="favoritos"></div>
      </div>
    </div>
  </main>
  <!--footer-->
  <%- include("./partials/footer") %>
  <!--footer-fim-->

</body>
</html>