<!DOCTYPE html>
<html lang="pt-BR">

  <%- include("./partials/head")%>

  <body>
    <!--header-->
    <%- include("./partials/header") %>
    <!--header-fim-->
    <main class="corpo">     
    <!-- panel-user -->
    <%- include("./partials/panel-user") %>
    <!--panel-user-end-->
    <div class="my account">
      <h3>Minha conta</h3>
      <p>Administre seus dados, endereço e pedidos</p>
    </div>
  </main>   
     <!--footer-->
     <%- include("./partials/footer") %>
     <!--footer-fim-->

  </body>