<!DOCTYPE html>
<html lang="pt-BR">

<%- include("./partials/head")%>
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/confirmacaoPedido.css" />

<body>
  <!--header-->
  <%- include("./partials/header") %>
  <!--header-fim-->
  <main class="corpo">
    
    <div class="painel-usuario">
    <!-- panel-user -->
    <%- include("./partials/user-box") %>
    <!--panel-user-end-->
    </div>
   
  </main>
  <!--footer-->
  <%- include("./partials/footer") %>
  <!--footer-fim-->

</body>

</html>