<!DOCTYPE html>
<html lang="pt-BR">

<%- include("./partials/head")%>

<body>
  <!--header-->
  <%- include("./partials/header") %>
  <!--header-fim-->
  <main class="corpo">
    <!-- panel-user -->
    <%- include("./partials/panel-user") %>
    <!--panel-user-end-->
    <div class="my-account">
      <div class="account-details">
        <h3>Minha conta</h3>
        <p>Administre seus dados, endereço e pedidos</p>
      </div>
      <div class="caixa-detalhes">
        <div class="pedidos">
          <div>
            <table>
            <thead>
              <tr>  
              <th>Nº do pedido: </th>
              <th> Realiza:  </th>
              <th> Status:  </th>
              </tr>
            </thead>
            
            <tbody>
              <tr>  </tr>
            </tbody>
          </table>
          </div>
        </div>
        <div class="favoritos"></div>
      </div>
    </div>
  </main>
  <!--footer-->
  <%- include("./partials/footer") %>
  <!--footer-fim-->

</body>
</html>