<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("./partials/head")%>
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/orders.css" />
  
  <body>
    <!--header-->
    <%- include("./partials/header") %>
    <!--header-end-->
    <main class= "orders">
        <div class = "pfinalizado">
            <div class ="ctn-detalhe-pedido">
                <h2>Pedido realizado com sucesso!</h2>
                <div class="img-pedido-ok">
                    <img src = "/images/ok.png" />
                </div>
            </div>
            <div class = r-resumo>
                <div class = "resumo">
                    <div>
                        <h3>Resumo do pedido</h3>
                    </div>
                    <div class = "resumo-pedido">
                        <p>Pedido</p>
                        <p class = "preco">29,90</p>
                    </div>
                    <div class = "resumo-pedido">
                        <p>Frete</p>
                        <p class = "preco">9,90</p>
                    </div>
                    <div class = "resumo-pedido e-resumo">
                        <p>Total da compra</p>
                        <p class = "preco">39,80</p>
                    </div>
                    <div class = "d-entrega">
                        <p> * Prazo para entrega 08 dias úteis</p>
                        <input type = "submit" name = "acompanhamento" value = "Acompanhe sua entrega"/>
                    </div>
                </div>
                    
            </div>
        </div>
    </main>
    <!--Footer-->
    <%- include("./partials/footer") %>
    <!--footer-fim-->
    
  </body>
</html>
