<!DOCTYPE html>
<html lang="pt-BR">
<%- include("./partials/head")%>

<body>
    <!--header-->
    <%- include("./partials/header") %>
    <!--header-fim-->
    <div class="bloco-produto">
        <div class="tag"></div>
        <div class="marca-produto"></div>
        <div class="titulo-produto"></div>
        <div class="imagem-produto"></div>
        <div class="disponibilidade"></div>
        <div class="ctn-preco"></div>
        <div class="produtos-similares"></div>
        <div class="adicionar-carrinho"></div>
    </div>
    <!--footer-->
    <%- include("./partials/footer") %>
    <!--footer-fim-->
</body>

</html>