<!DOCTYPE html>
<html lang="pt-BR">
<%- include("./partials/head")%>
<link rel="stylesheet" href="/css/global.css" />
<link rel="stylesheet" href="/css/product.css" />
<body>
    <!--header-->
    <%- include("./partials/header") %>
    <!--header-fim-->
    <main>
        <div class="bloco-produto">
            
                <div class="imagem-produto">
                    <img src="/images/cadeira-gamer.jpg" alt="cadeira-gamer" class="responsive">
                </div>
            
            <div class = "product-description">
                <div class="titulo-produto detailed-description">
                    <h1 class="nome-produto">Cadeira Gamer Husky Gaming Snow, Black - HSN-BK</h1>
                </div>
                
                    <div class="ctn-preco detailed-description">
                        <span class="preco"> À vista por R$ 695</span>
                    </div>
                    <div class = "calculo-frete detailed-description">
                        <input id = "numero-cep" type = "number" placeholder="Digite seu CEP" />
                        <input id = "procurar-cep" type="submit" value = "CALCULAR FRETE" />
                    </div>
                    <div class="ctn-checkout detailed-description">
                        <button name="" type="submit" class="button-laranja" id="">
                            COMPRAR</button>
                    </div>
                    <hr> 
                    
            </div>
        </div>
    </main>
    <!--footer-->
    <%- include("./partials/footer") %>
    <!--footer-fim-->
</body>

</html>