:root {
    --primary-color: #ff4500;
    --acent-color: #864636;
    --white-color: #f1f1f1;
    --blue-color:#365dae;
    --gray-color: #939597;
    --secondary-color: #ff8c00;
    --primary-light: #ea834b;
  }
  
  * {
    margin: 0px;
    padding: 0px;
    border: none;
    list-style: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  html {
    font-size: 62.5%;
    /* 62.5 = 10px = 1rem  */
  }
  
  body {
    min-height: 100vh;
  }
  
  .bd-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-header {
    margin: 0.8vw;
    /* height: 10px; */
  }
  
  .logo img {
    max-height: 80px;
    max-width: 200px;
  }

.home-image-mobile img {
    width: 100%;
  }

  .menu {
    margin-top: 0.4rem;
    text-align: center;
    margin-bottom: 0.4rem;
  }
  
  .menu ol {
    display: flex;
    align-content: center;
  }
  
  .menu li {
    padding: 0;
    list-style-type: none;
    display: inline;
    text-align: center;
  }
  
  .top-header {
    margin: 2vh 5vw;
    font-size: clamp(2rem, 2.5vw, 3rem);
  }
  
  .top-icons {
    margin: 3vh 2vw;
    width: 30vw;
    display: flex;
    justify-content: space-between;
    color: var(--gray-color);
  }
  
  .top-icons a {
    color: var(--gray-color);
  }

  .top-icons a:hover {
    color: var(--primary-color)
  }
  
  .top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 0.8em;
  }
  
  .desktop-navbar{
    display: none;
  }

  .nav {
    justify-content: center;
  }
  
  #nav__checkbox {
    display: none;
  }
  
  .close {
    text-align: center;
    display: none;
  }
  
  #nav__checkbox:checked~#navbar-list li {
    display: block;
  }
  
  #nav__checkbox:checked~label.nav__toggle .close {
    display: block;
  }
  
  #nav__checkbox:checked~label.nav__toggle .menu {
    display: none;
  }
  
  #nav__checkbox:checked~div.top-menu .logo {
    display: none;
  }
  
  #navbar-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    color: var(--gray-color);
  }
  
  #navbar-list li {
    list-style: none;
    display: none;
  }
  
  #navbar-list a {
    text-decoration: none;
    color: inherit;
  }


  .desktop-navbar {
    display: none;
  }

  /*SearchBox*/

  .searchbar-form{
    display:flex;
    justify-content: center;
  }
 
  .searchbar input[type="text"] {
    padding: 1rem;
    border: 1px solid grey;
    float: left;
    width: 80%;
    font-size: clamp(2rem, 2.2vw, 4rem);
    background: var(--white-color);
    text-align: center;
  }

/* Style the submit button */
form.searchbar-form button {
  float: left;
  width: 20%;
  padding: 1rem;
  background: var(--acent-color);
  color: var(--white-color);
  font-size: clamp(2rem, 2.2vw, 4rem);
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
}

/* form.searchbar-form input::placeholder {
text-align: center;
} */

.ctn-home-banner-web {
  display: none;
}



/*BODY*/
h2{
  color: var(--blue-color);
  font-size: clamp(2rem, 2.5vw, 2.8rem);
}
/* FOOTER  */


.footerBoxMainGrid {
  font-size: clamp(2rem, 2.5vw, 2.8rem);
  margin-top: 0.60rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;

}


.rsocial-icon {
  margin-top: 0.60rem;
}

.rsocial-icon a {
  margin-bottom: 2rem;
  align-items: center;
  color: var(--primary-color)
}

.rsocial-icon a img {
  margin-right: 3px;
}

.footerUser
.rsocial {
  margin-bottom: 0.5rem;
  color: var(--primary-color);
}

.footerUser h2,
.rsocial h2 {
  margin-bottom: 1rem;

}

.footerBox hr {
  margin-bottom: 2vh;
  border-bottom: 2px solid var(--gray-color);
  margin: 1rem;
}

.footerBoxMainGrid ol {
  list-style-type: none;
  padding-left: 0;
  list-style:none;
}

.footerBoxMainGrid li {
  margin-bottom: 0.8rem;
  font-weight: 500;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerBoxMainGrid a:link {
  text-decoration: none;

}

.bottom-logo>img {
width: 250px;
}

form.example button:hover {
  background: var(--acent-color);
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/*  MEDIA QUERIES */
@media (min-width: 800px) {

  .menu li img {
    margin-bottom: -5px;
  }

  .desktop-navbar {
    display: flex;
    justify-content: center;
    
  }
  #myTopnav {
    list-style:none inside;
    margin:0;
    padding:0;
    text-align: center;
   
  }

  #myTopnav li {
    display: block;
    position:relative;
    float:left;
    color: var(--primary-color)
  }

  #myTopnav li a {
    display:block;
    padding:0;
    text-decoration:none;
    width:200px; /* this is the width of the menu items */
    line-height:35px; /* this is the hieght of the menu items */
    color: var(--gray-color); /* list item font color */
    font-size:85%;/* smaller font size for sub menu items */
  }
  
  #myTopnav li:hover {
  color: var(--white-color);
  background: var(--primary-color);
  border-radius: 10px;
  }
  #myTopnav li a:hover {
    color: var(--white-color);
  }

  #myTopnav li:hover>a {
    color: var(--white-color)
  }

  #myTopnav li a:focus {
    text-decoration: none;
    color: var(--blue-color)
  }

  #myTopnav ul {
  position:absolute;
  padding:0;
  left:0;
  display:none; /*hides sublists */
  }
  #myTopnav li:hover ul {
    display:block;
    background: var(--primary-color);
    border-radius: 10px;
  } /* shows sublist on hover */
  
  #myTopnav li:hover ul a {
    color: var(--white-color);
  }
  #myTopnav li:hover ul {
    color: var(--white-color);
  }


  #myTopnav li ul li a:hover {
    color: var(--blue-color);
  }


  #myTopnav li li:hover ul {
    display:block; /* shows sub-sublist on hover */
    margin-left:200px; /* this should be the same width as the parent list item */
    margin-top:-35px; /* aligns top of sub menu with top of list item */
    }
   
  .menu {
    display: none;
  }

  .home-image-mobile {
    display: none;
  }

  .ctn-home-banner-web {
    display: block;
    height: 60vh;
    }

  .ctn-home-banner-web img {
    width: 100%;
    height: auto;
  } 

  .menu li img {
    margin-bottom: -5px;
  }

  .footerBoxMain {
    margin-top: 0.60rem;
    display: block;

  }

  .footerBoxMain hr {
    margin-bottom: 2vh;
    border-bottom: 2px solid var(--gray-color);
    margin: 1rem;
  }

  .footerBoxMainGrid {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

  }
 
}