/*DEPARTAMENTO*/

.deptHomeWeb {
  display: none;

}

/* OFERTA */
.ctn-offer {
  font-size: clamp(2rem, 2.5vw, 2.8rem);

}

.ctn-offer>h2 {
  padding: 16px 22px;
  text-transform: uppercase;
  margin-top: 0px;
  text-align: center;
}

.product-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 2px solid var(--gray-color);
  margin: 1rem;
}

.ctn-produto {
  padding: 10px 16px;
  border-top: 1px solid var(--gray-color);
}

.pname {
  font-size: clamp(2rem, 2.5vw, 2.8rem);
  text-align: center;
  margin-bottom: 0.8rem;
}

.footerBoxMain hr {
  display:none;
}

/*  MEDIA QUERIES */
@media (min-width: 800px) {

  form.searchbar-form button {
    padding: 1.6rem;
  }

  .ctn-offer{
    position: relative; 
    background-color: #fff;
    
  }

  .ctn-product .pname>a {
  
    text-overflow: ellipsis;
  }

  .prodcuts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
  }
  
  .product-item {

    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;

  }
 
  .footerBoxMain hr {
    display:block;
  }

}