@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #fff;
    font-weight: 300
}

.height {
    height: 100vh
}

.card {
    border: none;
    padding: 20px;
    background-color: #ff4500;
    color: #fff
}

.circle {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d6efd;
    color: #fff;
    font-size: 10px;
    border-radius: 50%
}


.fa-envelope:before, 
.fa-user:before,
.fa-lock:before 
 {
  color: #0d6efd;
}

.form-input {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px
}

.form-input i {
    position: absolute;
    font-size: 18px;
    top: 15px;
    left: 10px
}

.form-control {
    height: 50px;
    background-color: var(--white-color);
    text-indent: 24px;
    font-size: 15px
}

.form-control:focus {
    background-color: var(--white-color);
    box-shadow: none;
    color: #212529;
    border-color: #4f63e7
}

.form-check-label {
    margin-top: 2px;
    font-size: 14px
}

.text-center a {
  color: var(--bs-white)
}

#login-button {
  margin-left: 16.5vw;

}

#signup-button{
  margin-left: 14vw;

}

#login-social-icons{
  margin-bottom: 2vh;
}


.signup {
    height: 50px;
    font-size: 14px
}

.social {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer
}

.social:hover {
    background-color: #ff4500;
    border-color: #ff4500
}

.text-muted {
  color: var(--bs-white) !important;
}

/*Old Code*/

.ctn-login-page-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10rem 5rem;
}

/* .login-input-label {
  position: relative;
} */

.login-input {
  font-size: clamp(2rem, 2.5vw, 2.8rem);
  color: #000;
  background: transparent;

  padding: 1rem 3.2rem 1rem 1.2rem;
  margin-bottom: 20px;

  border-radius: 0.2rem;
  border: 2px solid #1c1c1c; /* azul */

  transition: border-color 0.2s;
}
.login-submit-btn {
  width: 20rem;
  padding: 1rem 2rem 1rem 2rem;
  text-align: center;
  font-size: clamp(2rem, 2.5vw, 2.8rem);
  font-weight: 600;
  background: #ff4500;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  border: 2px solid #ff4500;
}
.login-submit-btn:hover {
  background-color: white;
  color: #ff4500;
  border: 2px solid #ff4500;
}
.login-input-label:focus {
  border-color: #ff4500;
}
.forget-password {
  margin-top: 4rem;
}
.forget-password a {
  color: #ff4500;
  cursor: pointer;
  margin-bottom: 2rem;
}

.login-info {
  font-size: clamp(2rem, 2.5vw, 2.8rem);
  text-align: center;
  
}

.login-info a {
  text-decoration: none;

}


.login-input:focus + .label-content,
.login-input:not(:placeholder-shown) + .label-content {
  top: 0;
  font-size: 1rem;
  color: #ff4500;
}

.login-input:not(:focus) + .label-content {
  color: #1c1c1c;
}

@media (min-width: 800px)  {
  
}
