.orders {
  margin: 10rem;
  display: flex;
  flex-direction: column;
}
.order-confirmation h2{
 
  font-size: clamp(2rem, 2.5vw, 2.8rem);
}


.ctn-order-detail {
    margin-top: 2em;
    text-align: center;
}

.order-img-check img{
    width: 30rem;
    align-items: center;
    flex: 2;
    /* margin-left: 150px; */
}

.confirmation-msg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;
}
.confirmation-msg-box{
    /* margin-right: 30px;
    margin-top: 40px; */
    font-size: clamp(2rem, 2.5vw, 2.8rem);
    padding: 1rem;
    border: 1px solid #ff4500;
    margin-bottom: 20px;
    /* width: 250px; */
    border-radius: 10px;
}

.confirmation-details{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ff4500;
}
.confirmation-details h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.confirmation-details-box{
    margin-bottom: 0.5em;
}
.confirmation-details .price{
    font-weight: bold;
}
.ctn-delivery{
    text-align: center;
}
.ctn-delivery p{
  font-size: clamp(2rem, 2.5vw, 2.8rem);
    text-align: left;
    font-weight: bold;
}
.ctn-delivery input{
    margin: 2rem;
    padding: 1.8rem 2rem;
    border-radius: 5rem;
    background-color: #ff4500;
    color: white;
    font-weight: bold;
}
/*  MEDIA QUERIES */
@media (min-width: 800px) {
}
