/* PAINEL-USUARIO */

.orders {
    margin: 10rem;
  }
  .pfinalizado h2{
   
    font-size: clamp(2rem, 2.5vw, 2.8rem);
  }
  .user-panel {
    margin: 10rem;
    display: flex;
    justify-content: center;
  }

  .user-menu-box {
    text-align: center;
}
  .avatar {
    vertical-align: middle;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }
  .user-info {
    text-align: center;
    margin-bottom: 5em;
  }
  
  .user-details p,
  .user-details h2 {
    font-size: 2rem;
  }
  
  .profile-btn {
    width: 20rem;
    padding: 1rem 2rem 1rem 2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    background: #ff4500;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 0.5rem;
    border: 2px solid #ff4500;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em;
  }
  
  .client-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .titulo-pedidos-favoritos{
    text-align: center;
    padding: 3rem;
    font-size: 3rem;
  }
  
  .quadro-pedidos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: rgb(255, 255, 255);
    margin-top: 1.6rem;
    padding: 2rem;
    border-radius: 20px;
    margin-left: 5rem;
    width: 30rem;
  }
  .todos-quadro-pedidos{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
  }
  .seta-pedidos{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
  .seta-pedidos img{
    margin-top: 1rem;
    width: 4rem;
  }
  .detalhes-pedido-titulo{
    font-size: 1.2rem;
    font-weight: bold;
  }
  .detalhes-pedido{
    font-size: 1rem;
    font-weight: bold;
    color: #363636;
  }
  
  .quadro-pedidos-favoritos-descricao {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    margin-top: 1rem;
    padding: 30rem;
    border-radius: 1.1rem;
    margin-left: 45px;  
  }
  .section-favoritos{
    display: flex;
    justify-content: left;
    padding: .5rem;
    flex-wrap: wrap;
  }
  
  .quadro-pedidos-favoritos {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 1rem;
    flex-direction: column;
  }
  
  
  .titulo-favoritos-usuario {
    display: flex;
    -webkit-box-align: center;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 1.4rem;
    color: rgb(66, 70, 77);
  }
    
  .pedidos-favoritos-usuario-descritivo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: normal;
    color: rgb(66, 70, 77);
    
  }
  
  .ctn-detalhe-pedido {
      margin-top: 2em;
      text-align: center;
  }
  
  main {
      display: flex;
      flex-direction: column;
  }
  .panel-user{
      max-width: 30%;
      flex:2;
      margin-left: 20px;
      margin-top: 20px;
      
  }
  .img-pedido-ok img{
      width: 300px;
      align-items: center;
      flex: 2;
      /* margin-left: 150px; */
  }
  
  
  .resumo{
      /* margin-right: 30px;
      margin-top: 40px; */
      font-size: 1.4rem;
      padding: 1rem;
      border: 1px solid #ff4500;
      margin-bottom: 20px;
      /* width: 250px; */
      border-radius: 10px;
  }
  .r-resumo {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 2em;
  }
  .resumo h3{
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1rem;
  }
  .resumo-pedido{
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      border-bottom: 1px solid #ff4500;
  }
  .e-resumo{
      margin-bottom: 0.5em;
  }
  .resumo-pedido .preco{
      font-weight: bold;
  }
  .d-entrega{
      text-align: center;
  }
  .d-entrega p{
      font-size: 1.1rem;
      text-align: left;
      font-weight: bold;
  }
  .d-entrega input{
      margin-top: 2rem;
      padding: 1.4rem 2rem;
      border-radius: 10px;
      background-color: #ff4500;
      color: white;
      font-weight: bold;
  }