<div class="user-menu">
  <div class="user-menu-box">
    <div class="user-avatar">
      <img src="/images/avatar.png" alt="Avatar" class="avatar">
    </div>

    <div class="user-info">
      <h2>Tech</h2>
      <p>address@email.com</p>
    </div>
    <div class="user-profile-buttons">

      <label>
        <a href="/admin/criar-produtos">
        <button class="profile-btn" type="submit">Cadastro Produtos</button>
      </a>
      </label>
      <label>
        <a href="/admin/lista-produtos">
        <button class="profile-btn" type="submit">Lista Produtos</button>
      </a>
      </label>
      <label>
        <form action="/auth/logout">
        <button class="profile-btn" type="submit">Sair</button>
      </form>
      </label>
    </div>
  </div>
</div>