<h2>Categorias</h2>
<div class="category-grid">
    <div class="category-item">
        <div class="category-card">
            <div class="image">
                <a href="#">
                    <img src="/images/notebook-acer-aspire-3-amd-ryzen-5-3500u-8gb-ram-1tb-hd-15-6-1366x768-windows-10-home-preto-a315-23-r291_1623440781_m.jpg" class="" alt="" title="Informatica">
                </a>                                
            </div>
            <div class="ctn-category-price">
                <div class="pname">
                    <a href="#">Computadores
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="category-item">
        <div class="category-card">
            <div class="image">
                <a href="#">
                    <img src="/images/headset-gamer-hyperx-cloud-stinger-drivers-50mm-microfone-com-cancelamento-de-ruido-rosa-hhss1x-ax-pk-g_1625150598_m.jpg" class="" alt="" title="Informatica">
                </a>                                
            </div>
            <div class="ctn-category-price">
                <div class="pname">
                    <a href="#">Games
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="category-item">
        <div class="category-card">
            <div class="image">
                <a href="#">
                    <img src="/images/monitor-gamer-led-ozone-24-5-pro-full-hd-hdmi-displayport-144hz-1ms-altura-ajustavel-ozdsp25pro_1610377706_m.jpg" class="" alt="" title="Gamer">
                </a>                                
            </div>
            <div class="ctn-category-price">
                <div class="pname">
                    <a href="#">Hardware
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="category-item">
        <div class="category-card">
            <div class="image">
                <a href="#">
                    <img src="/images/teclado-mecanico-gamer-t-dagger-bora-rgb-switch-outemu-blue-abnt2-t-tgk315-blue_1581356584_m.jpg" class="" alt="" title="Hardware">
                </a>                                
            </div>
            <div class="ctn-category-price">
                <div class="pname">
                    <a href="#">Periféricos
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="category-item">
        <div class="category-card">
            <div class="image">
                <a href="#">
                    <img src="/images/samsung-smart-tv-55-uhd-4k-55au7700-processador-crystal-4k-tela-sem-limites-visual-livre-de-cabos-alexa-built-in-un55au7700gxzd_1617626699_m.jpg" class="" alt="" title="Informatica">
                </a>                                
            </div>
            <div class="ctn-category-price">
                <div class="pname">
                    <a href="#">Televisores
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="category-item">
        <div class="category-card">
            <div class="image">
                <a href="#">
                    <img src="/images/smartphone-motorola-moto-e6i-4g-32gb-ram-2gb-octa-core-camera.jpg" class="" alt="" title="Informatica">
                </a>                                
            </div>
            <div class="ctn-category-price">
                <div class="pname">
                    <a href="#">Smartphones
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>