<h2>Categorias</h2>
<div class="category-grid">
<div class="category-item">

    <div class="category-card">
        
        
    </div>

    <div class="image">
        <a href="#">
            <img src="/images/processador-amd.jpg" class="" alt="" title="Informatica"></a>
    </div>
    <div class="ctn-category-price">
        </a>
        <div class="pname"><a href="#">Informatica
            </a></div>
    </div>
</div>
<div class="category-item">
    <div class="category-card">
        
    </div>
    <div class="image">
        <a href="#">
            <img src="/images/console-microsoft-xbox-series-s-500gb-branco-rrs-00006_1601067301_m.jpg" class="" alt="" title="AMD Ryzen 5 5600X"></a>
    </div>
    <div class="ctn-category-price">
        </a>
        <div class="pname"><a href="#">Gamers
        </a>
    </div>
    </div>
</div>
<div class="category-item">

    <div class="category-card">
        
        
    </div>

    <div class="image">
        <a href="#">
            <img src="/images/headset-gamer-hyperx-cloud-stinger-drivers-50mm-microfone-com-cancelamento-de-ruido-rosa-hhss1x-ax-pk-g_1625150598_m.jpg" class="" alt="" title="AMD Ryzen 5 5600X"></a>
    </div>
    <div class="ctn-category-price">
        </a>
        <div class="pname"><a href="#">Acessórios
            </a></div>
    </div>
</div>
<div class="category-item">

    <div class="category-card">
        
    </div>

    <div class="image">
        <a href="#">
            <img src="/images/samsung-smart-tv-55-uhd-4k-55au7700-processador-crystal-4k-tela-sem-limites-visual-livre-de-cabos-alexa-built-in-un55au7700gxzd_1617626699_m.jpg" class="" alt="" title="AMD Ryzen 5 5600X"></a>
    </div>
    <div class="ctn-category-price">
        </a>
        <div class="pname"><a href="#">Televisores</a>
            </a></div>
    </div>
</div>
<div class="category-item">

    <div class="category-card">
     
    </div>

    <div class="image">
        <a href="#">
            <img src="/images/monitor-gamer-led-ozone-24-5-pro-full-hd-hdmi-displayport-144hz-1ms-altura-ajustavel-ozdsp25pro_1610377706_m.jpg" class="" alt="" title="AMD Ryzen 5 5600X"></a>
    </div>
    <div class="ctn-category-price">
        </a>
        <div class="pname"><a href="#">Monitores
            </a></div>
    </div>
</div>
<div class="category-item">

    <div class="category-card">
       
    </div>

    <div class="image">
        <a href="#">
            <img src="/images/teclado-mecanico-gamer-t-dagger-bora-rgb-switch-outemu-blue-abnt2-t-tgk315-blue_1581356584_m.jpg" class="" alt="" title="AMD Ryzen 5 5600X"></a>
    </div>
    <div class="ctn-category-price">
        </a>
        <div class="pname"><a href="#">Teclados
            </a></div>
    </div>
</div>
</div>