<div class="user-menu">
  <div class="user-menu-box">
    <div class="user-avatar">
      <img src="/images/avatar.png" alt="Avatar" class="avatar">
    </div>

    <div class="user-info">
      <h2>Jeffrey Client</h2>
      <p>address@hotmail.com</p>
    </div>
    <div class="user-profile-buttons">
      <label>
        <button class="profile-btn" type="submit">Meus pedidos</button>
      </label>
      <label>
        <button class="profile-btn" type="submit">Avaliações</button>
      </label>
      <label>
        <form action="/auth/logout">
        <button class="profile-btn" type="submit">Sair</button>
      </form>
      </label>
    </div>
  </div>
</div>