<section id="contact">
  
    <h1 class="section-header">Entre em Contato</h1>
    
    <div class="contact-wrapper">
    
    <!-- Left contact page --> 
      
      <form action="/sendForm" method="POST" id="contact-form" class="form-horizontal" role="form"  >
         
        <div class="form-group">
          <div class="col-sm-12 fs-3">
            <input type="text" class="form-control" id="name" placeholder="Nome" name="name" value="" required>
          </div>
        </div>
  
        <div class="form-group">
          <div class="col-sm-12">
            <input type="email" class="form-control" id="email" placeholder="Email" name="email" value="" required>
          </div>
        </div>
  
        <textarea class="form-control" rows="10" placeholder="Mensagem" name="message" required></textarea>
        
        <button class="btn btn-primary send-button" type="submit" >
          <div class="alt-send-button">
            <i class="fa fa-paper-plane"></i>
             <span class="send-text">Enviar</span>
          </div>
        </button>
        
      </form>
      
    <!-- Left contact page --> 
      
        <div class="direct-contact-container">
  
          <ul class="contact-list">
            <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Lapa, Av. Henrique Valadares, 150 - Centro, Rio de Janeiro, 20231-031</span></i></li>
            
            <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:1-212-555-5555" title="Give me a call">+552132318031</a></span></i></li>
            
            <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:infodev@gmail.com" title="Envie um e-mail">infodev@gmail.com</a></span></i></li>
            
          </ul>
  
          <ul class="social-media-list">
            <li><a href="#" target="_blank" class="contact-icon">
              <i class="fa fa-github" aria-hidden="true"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
              <i class="fa fa-codepen" aria-hidden="true"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
              <i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
              <i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>       
          </ul>
    </div>
    <!-- Scripts -->
<script src="/scripts/contact.js" charset="utf-8"></script>
<!-- Scripts -->
  </section>  
    
    