<footer class="rodape-principal">
    <div class = "rodape">
        <div class="usuario">
            <h2>USUÁRIO</h2>
            <ol>
                <a href="/login"><li>LOGIN</li></a>
                <a href= "/painel-usuario"><li>MEUS PEDIDOS</li></a>
                <a><li>FAVORITOS</li></a>
                <a><li>MEUS CUPONS</li></a>
            </ol>
        </div>
        <div class = "rsocial">
            <h2>CONTATOS</h2>
            <div class = "rsocial-icon">
                <ol>
                    <a><li><img src = "/images/insta.svg"/>@infodev</li></a>
                    <a><li><img src = "/images/face.svg"/>infodev</li></a>
                    <a><li><img src = "/images/email.svg"/>contato@infodev.com</li></a>
                    <a><li><img src = "/images/twitter.svg"/>@infodev</li></a>
                </ol>
            </div>
        </div>
        <div class = "logo">
                <img src = '/images/infodev.png' />
        </div>
    </div>
</footer>