<footer>
    <div class = "rodape">
        <div class="usuario">
            <ol>
                <a><li>LOGIN</li></a>
                <a><li>MEUS PEDIDOS</li></a>
                <a><li>FALE CONOSCO</li></a>	
                <a><li>FAVORITOS</li></a>
                <a><li>MEUS CUPONS</li></a>
            </ol>
        </div>
        <div>
            <div class = "rsocial">
            <h2>CONTATOS INFODEV</h2>
            </div>
            <div class = "rsocial-icon">
                <a><img src = "insta.svg"/>@infodev</a>
                <a><img src = "face.svg"/>infodev</a>
                <a><img src = "email.svg"/>contato@infodev.com</a>
                <a><img src = "twitter.svg"/>@infodev</a>
            </div>
        </div>
        <div class = "logo">
                <img src = 'images/infodev.png' />
        </div>
    </div>
</footer>