<header>
    <div class="top-header">
        <div class="top-menu"> 
            <div class="logo">
                <img src="/images/infodev.png" alt="infodev">
            </div>
            <div class="top-icons">
                <a href="#"><span class="iconify" data-inline="false" data-icon="ant-design:user-outlined"></span></a>
                <a href="#"><span class="iconify" data-inline="false" data-icon="bi:suit-heart"></span></a>
                <a href="#"><span class="iconify" data-inline="false" data-icon="bi:cart"></span></a>
            </div>
        </div>
        <div>
            <ol>
                <a><li><img src = "/images/user.svg"/>LOGIN</li></a>
                <a><li><img src = "/images/document.svg"/>MEUS PEDIDOS</li></a>
                <a><li><img src = "/images/contact.svg"/>FALE CONOSCO</li></a>	
            </ol>
        </div>
        <div>
            <ol>
                <a><li><img src = "/images/star.svg"/>FAVORITOS</li></a>
                <a><li><img src = "/images/carrinho.svg"/>MEUS CUPONS</li></a>	
            </ol>
        </div>
    </div>
    <div class = "pesquisa">
        <div>
            <a><input type = "search" /><img src = "/images/search.svg"/></a>
        </div>
        <div>
            <ol>
                <a><li>HARDWARE</li></a>
                <a><li>SMARTPHONE</li></a>
                <a><li>PERIFERICOS</li></a>
                <a><li>MONITORES</li></a>
                <a><li>GAMER</li></a>
                <a><li>HOME OFFICE</li></a>
            </ol>
        </div>

        <div class="menu-bar">
            <nav class="nav">
                <input type="checkbox" id="nav__checkbox" class="nav__checkbox">
                <label for="nav__checkbox" class="nav__toggle">
                    <div class="menu"><span class="iconify" data-inline="false" data-icon="gg:menu"
                            style="color: #e17055; font-size: 24px;"></span></div>
                    <div class="close"><span class="iconify" data-inline="false" data-icon="eva:close-outline"
                            style="color: #E17055; font-size: 24px;" data-flip="horizontal"></span></div>
                </label>
                <ul id="navbar-list">
                    <li><a href="#">Hardware</a></li>
                    <li><a href="#">Smartphones</a></li>
                    <li><a href="#">Perifericos</a></li>
                    <li><a href="#">Computadores</a></li>
                    <li><a href="#">Monitores</a></li>
                    <li><a href="#">Gamer</a></li>
                    <li><a href="#">Home Office</a></li>
                </ul>
            </nav>
        </div>
    </div>
    

    <div class="searchbar">
        <form class="example" action="action_page.php">
            <input type="text" placeholder="O que você está procurando?" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>

</header>