<header>
  <div class="top-header">
    <div class="top-menu">
      <div class="logo">
        <a href="/">
          <img src="/images/infodev.png" alt="infodev" />
        </a>
      </div>
      <div class="top-icons">
        <a href="/login"><span class="iconify" data-inline="false" data-icon="ant-design:user-outlined"></span></a>
        <a href="#"><span class="iconify" data-inline="false" data-icon="bi:suit-heart"></span></a>
        <a href="#"><span class="iconify" data-inline="false" data-icon="bi:cart"></span></a>
      </div>
    </div>

    <div class="menu-bar">
      <nav class="nav">
        <input type="checkbox" id="nav__checkbox" class="nav__checkbox" />
        <label for="nav__checkbox" class="nav__toggle">
          <div class="menu">
            <span class="iconify" data-inline="false" data-icon="gg:menu"
              style="color: #e17055; font-size: 24px"></span>
          </div>
          <div class="close">
            <span class="iconify" data-inline="false" data-icon="eva:close-outline"
              style="color: #e17055; font-size: 24px" data-flip="horizontal"></span>
          </div>
        </label>
        <ul id="navbar-list">
          <li><a href="#">News</a></li>
          <li><a href="/produtos/categorias">Categorias</a></li>
          <li><a href="#">Sobre Nós</a></li>
          <li><a href="/contatos">Contato</a></li>
        </ul>
      </nav>
      <nav class="desktop-navbar">
        <ul class="topnav" id="myTopnav">
          <li><a href="/produtos">News</a></li>
          <li><a href="/produtos/categorias">Categorias</a>
            <ul>
              <li><a href="/produtos">Computadores</a></li>
              <li><a href="/produtos">Games</a></li>
              <li><a href="/produtos">Hardware</a></li>
              <li><a href="/produtos">Periféricos</a></li>
              <li><a href="/produtos">Televisores</a></li>
              <li><a href="/produtos">Smartphones</a></li>
            </ul>
          </li>
          <li><a href="/produtos">Sobre Nós</a></li>
          <li><a href="/contato">Contato</a></li>

        </ul>
      </nav>
    </div>
  </div>



  <div class="searchbar">
    <form class="searchbar-form" action="action_page.php">
      <input type="text" placeholder="O que você está procurando?" name="search" />
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</header>