<div class="oferta">
    <h2>Dia dos Pais</h2>
    <div class="produto">
        
        <div class="desconto">
            <span class="iconify" data-inline="false" data-icon="akar-icons:arrow-down"
                style="color: #E17055; font-size: 16px;" data-flip="horizontal"></span>
            <span>31%</span>
        </div>
       
        <div class="imagem">
            <img src="https://images1.kabum.com.br/produtos/fotos/129451/processador-amd-ryzen-9-5950x-cache-72mb-3-4ghz-4-9ghz-max-turbo-am4-100-100000065box_1602603581_m.jpg"
                class="b-lazy b-loaded"
                alt="Processador AMD Ryzen 5 5600X, Cache 35MB, 3.7GHz (4.6GHz Max Turbo), AM4 - 100-100000065BOX"
                title="Processador AMD Ryzen 5 5600X, Cache 35MB, 3.7GHz (4.6GHz Max Turbo), AM4 - 100-100000065BOX"
                style="object-fit: scale-down;">
        </div>
        <div class="ctn-produto-preco">
            <div class="produto-fabricante">Amd</div>
            <div class="pnome">Processador AMD Ryzen 5 5600X, Cache 35MB, 3.7GHz (4.6GHz Max Turbo), AM4 -
                100-100000065BOX
            </div>
            <div id="stars" class="flex-row-center">
                <div class="star star-checked"></div>
                <div class="star star-checked"></div>
                <div class="star star-checked"></div>
                <div class="star star-checked"></div>
                <div class="star star-checked"></div>
                <span class="star-number">128</span>
            </div>


        </div>
    </div>
    <hr>
    <div class="produto">
        <div class="desconto">
            <span class="iconify" data-inline="false" data-icon="akar-icons:arrow-down"
                style="color: #E17055; font-size: 16px;" data-flip="horizontal"></span>
            <span>31%</span>
        </div>
        <div class="imagem">
            <img src="https://images1.kabum.com.br/produtos/fotos/129451/processador-amd-ryzen-9-5950x-cache-72mb-3-4ghz-4-9ghz-max-turbo-am4-100-100000065box_1602603581_m.jpg"
                class="b-lazy b-loaded"
                alt="Processador AMD Ryzen 5 5600X, Cache 35MB, 3.7GHz (4.6GHz Max Turbo), AM4 - 100-100000065BOX"
                title="Processador AMD Ryzen 5 5600X, Cache 35MB, 3.7GHz (4.6GHz Max Turbo), AM4 - 100-100000065BOX"
                style="object-fit: scale-down;">
        </div>
        <div class="ctn-produto-preco">
            <div class="produto-fabricante">Amd</div>
            <div class="pnome">Processador AMD Ryzen 5 5600X, Cache 35MB, 3.7GHz (4.6GHz Max Turbo), AM4 -
                100-100000065BOX
            </div>
            <div id="stars" class="flex-row-center">
                <div class="star star-checked"></div>
                <div class="star star-checked"></div>
                <div class="star star-checked"></div>
                <div class="star star-checked"></div>
                <div class="star star-checked"></div>
                <span class="star-number">128</span>
            </div>


        </div>
    </div>
</div>