<div class="oferta">
    <h2>Ofertas da Semana</h2>
    <div class="produto">
        
        <div class="desconto">
            <span class="iconify" data-inline="false" data-icon="akar-icons:arrow-down"
                style="color: #E17055; font-size: 16px;" data-flip="horizontal"></span>
            <span>31%</span>
        </div>
       
        <div class="imagem">
            <img src="/images/processador-amd.jpg"
                class=""
                alt=""
                title="AMD Ryzen 5 5600X"
                >
        </div>
        <div class="ctn-produto-preco">
            <div class="produto-fabricante">Amd</div>
            <div class="pnome">Processador AMD Ryzen 5 5600X, Cache 35MB, 3.7GHz (4.6GHz Max Turbo)
            </div>
        </div>
    </div>
    <hr>
    <div class="produto">
        <div class="desconto">
            <span class="iconify" data-inline="false" data-icon="akar-icons:arrow-down"
                style="color: #E17055; font-size: 16px;" data-flip="horizontal"></span>
            <span>31%</span>
        </div>
        <div class="imagem">
            <img src="/images/processador-amd.jpg"
                class=""
                alt=""
                title="AMD Ryzen 5 5600X"
                >
        </div>
        <div class="ctn-produto-preco">
            <div class="produto-fabricante">Amd</div>
            <div class="pnome">Processador AMD Ryzen 5 5600X, Cache 35MB, 3.7GHz (4.6GHz Max Turbo)
            </div>
        </div>
    </div>
</div>