<div class="WebProductsLayout">

	<ol class="WebProductsListLayout">
		<li class="WebProductsItemLayout">
			<div class="webProductsCardsLayout">
				<div class="webProductsCardsImage">
					<a href="#" class="" id=""></a>
					<img src="https://http2.mlstatic.com/D_NQ_NP_915890-MLA40195716186_122019-W.webp" alt="item">
					</a>
				</div>
				<a href="/produto" class="pnome-web" title="Processador AMD Ryzen 5 5600X, Cache 35MB, 3.7GHz (4.6GHz Max Turbo)
                "></a>
			</div>


		</li>
	</ol>

</div>