    <h2>Ofertas</h2>
    <div class="prodcuts-grid">
    <div class="product-item">

        <div class="product-card">
            <span class="iconify" data-inline="false" data-icon="akar-icons:arrow-down"
                style="color: #E17055; font-size: 16px;" data-flip="horizontal"></span>
            <span>31%</span>
        </div>

        <div class="image">
            <a href="/produtos">
                <img src="/images/processador-amd.jpg" class="" alt="" title="AMD Ryzen 5 5600X"></a>
        </div>
        <div class="ctn-product">
            </a>
            <div class="pname"><a href="/produtos">Processador AMD Ryzen 5 5600X, Cache 35MB, 3.7GHz (4.6GHz Max Turbo)
                </a></div>
        </div>
    </div>
    <div class="product-item">
        <div class="product-card">
            <span class="iconify" data-inline="false" data-icon="akar-icons:arrow-down"
                style="color: #E17055; font-size: 16px;" data-flip="horizontal"></span>
            <span>20%</span>
        </div>
        <div class="image">
            <a href="/produtos">
                <img src="/images/console-microsoft-xbox-series-s-500gb-branco-rrs-00006_1601067301_m.jpg" class="" alt="" title="AMD Ryzen 5 5600X"></a>
        </div>
        <div class="ctn-product">
            </a>
            <div class="pname"><a href="/produtos">Console Microsoft Xbox Series S, 512GB, Branco - RRS-00006
            </a>
        </div>
        </div>
    </div>
    <div class="product-item">

        <div class="product-card">
            <span class="iconify" data-inline="false" data-icon="akar-icons:arrow-down"
                style="color: #E17055; font-size: 16px;" data-flip="horizontal"></span>
            <span>25%</span>
        </div>

        <div class="image">
            <a href="/produtos">
                <img src="/images/headset-gamer-hyperx-cloud-stinger-drivers-50mm-microfone-com-cancelamento-de-ruido-rosa-hhss1x-ax-pk-g_1625150598_m.jpg" class="" alt="" title="AMD Ryzen 5 5600X"></a>
        </div>
        <div class="ctn-product">
            </a>
            <div class="pname"><a href="/produtos">Headset Gamer HyperX Cloud Stinger Pink, Drivers 50mm, Microfone com Cancelamento de Ruído
                </a></div>
        </div>
    </div>
    <div class="product-item">

        <div class="product-card">
            <span class="iconify" data-inline="false" data-icon="akar-icons:arrow-down"
                style="color: #E17055; font-size: 16px;" data-flip="horizontal"></span>
            <span>34%</span>
        </div>

        <div class="image">
            <a href="/produtos">
                <img src="/images/samsung-smart-tv-55-uhd-4k-55au7700-processador-crystal-4k-tela-sem-limites-visual-livre-de-cabos-alexa-built-in-un55au7700gxzd_1617626699_m.jpg" class="" alt="" title="AMD Ryzen 5 5600X"></a>
        </div>
        <div class="ctn-product">
            </a>
            <div class="pname"><a href="/produtos">Samsung Smart TV 55´´ UHD 4K 55AU7700, Processador Crystal 4K, Tela sem limites
                </a></div>
        </div>
    </div>
    <div class="product-item">

        <div class="product-card">
            <span class="iconify" data-inline="false" data-icon="akar-icons:arrow-down"
                style="color: #E17055; font-size: 16px;" data-flip="horizontal"></span>
            <span>21%</span>
        </div>

        <div class="image">
            <a href="/produtos">
                <img src="/images/monitor-gamer-led-ozone-24-5-pro-full-hd-hdmi-displayport-144hz-1ms-altura-ajustavel-ozdsp25pro_1610377706_m.jpg" class="" alt="" title="AMD Ryzen 5 5600X"></a>
        </div>
        <div class="ctn-product">
            </a>
            <div class="pname"><a href="/produtos">Monitor Gamer Ozone 24,5 LED, 144 Hz, Full HD, 1ms, FreeSync, HDR, HDMI/DisplayPort
                </a></div>
        </div>
    </div>
    <div class="product-item">

        <div class="product-card">
            <span class="iconify" data-inline="false" data-icon="akar-icons:arrow-down"
                style="color: #E17055; font-size: 16px;" data-flip="horizontal"></span>
            <span>25%</span>
        </div>

        <div class="image">
            <a href="/produtos">
                <img src="/images/teclado-mecanico-gamer-t-dagger-bora-rgb-switch-outemu-blue-abnt2-t-tgk315-blue_1581356584_m.jpg" class="" alt="" title="AMD Ryzen 5 5600X"></a>
        </div>
        <div class="ctn-product">
            </a>
            <div class="pname"><a href="/produtos">Teclado Mecânico Gamer T-Dagger Bora, RGB, Switch Outemu Blue
                </a></div>
        </div>
    </div>
</div>