<div class="client-avatar">
    <img src="/images/avatar.png" alt="Avatar" class="avatar">
</div>
<div class="user-details">
    <h2>Jeffrey Tech</h2>
    <p>address@hotmail.com</p>
    <label>
        <button class="profile-btn" type="submit">Cadastro</button>
      </label>
      <label>
        <button class="profile-btn" type="submit">Pedidos</button>
      </label>
      <label>
        <button class="profile-btn" type="submit">Avaliações</button>
      </label>
      <label>
        <button class="profile-btn" type="submit">Protocolos</button>
      </label>
      <label>
        <button class="profile-btn" type="submit">Avaliações</button>
      </label>
</div>