<!DOCTYPE html>
<html lang="pt-BR">

<%- include("../partials/head")%>
<link rel="stylesheet" href="/css/global.css" />
<link rel="stylesheet" href="/css/panel.css" />

<body>
  <!--header-->
  <%- include("../partials/header") %>
  <!--header-fim-->
  <main>
    <div>
        <% if(typeof error != 'undefined'){%>
        <h4><%= error %></h4>
        <% } %>
      </div>
    <form action="salvar-produto" method="POST" enctype="multipart/form-data">
        <label>Nome do produto:</label><br>
        <input class="inputs" type="text" name="name" placeholder="Ex:.Telefone" />
        <br>
                
        <label>Preço:</label><br>
        <input class="inputs" type="text" name="unit_price" placeholder="Ex:.20" />
        <br>

        <label>Descrição</label><br>
        <input class="image" type="text" name="description" placeholder="EX:. Motorolla e23"/>
        <br>

        <label>Imagem do produto:</label><br>
        <input id="input-img" type="file" name="image" />
        <br>

        <button type="submit">Finalizar cadastro</button>
    </form>
</main>
  

  <div class="footerBox"></div>
  <!--footer-->
  <%- include("../partials/footer") %>
  <!--footer-fim-->
  </div>

</body>

</html>