<!DOCTYPE html>
<html lang="pt-BR">

<%- include("../partials/head")%>
<link rel="stylesheet" href="/css/global.css" />
<link rel="stylesheet" href="/css/panel.css" />

<body>
  <!--header-->
  <%- include("../partials/header") %>
  <!--header-fim-->

  <div class="user-panel">
    <!-- panel-user -->
    <%- include("../partials/admin-box") %>
    <!--panel-user-end-->
  </div>

  <div class="footerBox"></div>
  <!--footer-->
  <%- include("../partials/footer") %>
  <!--footer-fim-->
  </div>

</body>

</html>