<!DOCTYPE html>
<html lang="pt-BR">
<%- include("../partials/head")%>

<link rel="stylesheet" href="/css/login.css" />


<body>
  <!--header-->
  <%- include('../partials/header')%>
  <!--header-end-->


  <main class="ctn-login-page-box">
  
    <form action="/auth/cadastro" method="POST" class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Nome Completo</label>
      <input type="text" name="name" class="form-control" id="formGroupExampleInput2" placeholder="Digite o seu nome"
        required />
      <label for="formGroupExampleInput" class="form-label">Endereço E-mail</label>
      <input type="email" name="email" class="form-control" id="formGroupExampleInput" placeholder="informe o seu email"
        required />

      <label for="formGroupExampleInput" class="form-label">Crie uma Senha</label>
      <input type="password" name="password" class="form-control" id="formGroupExampleInput"
        placeholder="digite a senha" required />
      <button type="submit" class="login-submit-btn">Cadastra-se</button>
      <p>
        Ao se cadastrar, você concorda com nossos
        <b>Termos, Política de Dados e Política de Cookies.</b>
      </p>
      
        <p>
         já tem conta? 
          <button onclick="window.location.href='/login'" class="login-submit-btn">Login</button>
        </p>
      </div>
    </form>
  </main>

  <div class="footerBox">
    <%- include("../partials/footer") %>
  </div>
</body>

</html>